dist/select-a-plan.html
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>UnitedHealthcare | Michigan </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="//assets.adobedtm.com/af395da6b02bcc888dc3ff89d221f89a86b6197e/satelliteLib-782e7824bfe360bff39f5e7d880726fe336baf98.js"></script>
    <link rel="stylesheet" href="styles/main.css">
    <!--google foont Open Sans-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,600,800&amp;subset=cyrillic,cyrillic-ext,latin,greek-ext,greek,latin-ext" rel="stylesheet" type="text/css">
  </head>
  <body data-spy="scroll" data-target=".navbar-collapse">
    <script type="text/javascript">_satellite.pageBottom();</script><!--[if lte IE 7]>
    <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/''>upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="upperNavbar hidden-sm hidden-xs">
        <div class="container">
          <div class="upperNavbar-Box pull-right">
            <div class="questionsTxt">Questions? Call us at <a style="padding-right:10px" href="tel:8775129939" class="phone-number">877-512-9939</a> TTY user dial 711</div>
            <p class="xs-small">(8 a.m to 8 p.m EST, M-F)</p>
          </div>
        </div>
      </div>
      <div class="container mainnav">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand"><img src="./images/UHC-Logo-Blu.png" class="headlogo"></a>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="./index.html">Our plans</a></li>
            <li><a href="index.html#section4">Doctors &amp; hospitals</a></li>
            <li><a href="index.html#section5">Prescription coverage</a></li>
            <li><a href="index.html#healthresources">Health care Resources</a></li>
            <li><a href="index.html#section6">The UnitedHealthcare advantage</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container pushDown"><br><a href="index.html" alt="" class="hidden-xs"><img src="./images/BackStoSummary.png" style="width: 115px"></a>
      <h1 class="Blu-text">Selecting A Plan</h1>
      <h4 class="bold Blu-text">GET STARTED ON HEALTHCARE.GOV</h4>
      <p class="Blu-text">Not sure which of our plans you’re interested in? The place to start is healthcare.gov.</p>
      <p class="Blu-text">That’s because you’ll provide some information about yourself there that determines whether you are eligible for any subsidies.</p>
      <p class="Blu-text">If you are eligible for  subsidies  such as a premium reduction or a “cost-sharing reduction” – you’ll have access to special plans and pricing.</p>
      <p class="Blu-text">That’s why we ask you to start the plan selection process on healthcare.gov. Once you do, you will know the plans you’d like to get details on and we’ll know the right plans and details to show you here on this site.</p><br>
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12"><a href="http://www.healthcare.gov" target="_blank" alt="search-uhc-network" id="networkBtn" style="padding: 15px 96px" class="button btn orange-btn btn-lg btntxt">GET STARTED</a></div>
          <div style="position:relative; top:28px" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <p>- OR -</p>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div style="position:relative; top:19px" class="bluedashedbox text-center">Call us at <b><a href="tel:+18442637797" style="font-weight:700">844-263-7797 </a> TTY user dial 711</b> </div>
          </div>
        </div>
      </div>
      <hr>
      <h4 class="bold Blu-text">More About "Cost Sharing Reduction”</h4>
      <p class="Blu-text">There are two kinds of savings offered on healthcare.gov.</p>
      <p class="Blu-text">One is a tax credit that reduces your monthly premium. The other is a “cost-sharing reduction.” That can reduce the amount you spend on your out-of-pocket costs like deductibles, co-payments and co-insurance.</p>
      <p class="Blu-text">To find out if you are eligible for savings, you’ll answer questions such as the number of people you want to cover in your plan and your household income etc.. If you are eligible, it will change the pricing you see on the site.</p>
      <h4 class="bold Blu-text">The right Summary of Benefits and Coverage</h4>
      <p class="Blu-text">Knowing your cost-sharing reduction also helps us show you the right Summary of Benefits and Coverage. That’s the document that provides detail about a plan.</p>
      <p class="Blu-text">When you shop on healthcare.gov you see the names of “standard” plans. But some standard plans have several cost-sharing reduction versions.</p>
      <p class="Blu-text">If you are eligible for cost-sharing reduction, you’ll see the name of the standard plan, but you’ll see the prices from one of the cost-sharing reduction versions.</p>
      <p class="Blu-text">So knowing your cost-sharing reduction helps us show you the correct Summary of Benefits and Coverage document. The name of the plan on the document may be different from the name of the standard plan on healthcare.gov, but the costs and other details  will match in both places.</p>
    </div>
    <footer>
      <div class="container">
        <div class="linkrow row">
          <div class="col-md-5 hidden-xs">
            <div class="img-footer-logo"></div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"><a href="http://www.uhc.com" target="_blank" alt="http://www.uhc.com" class="footlink">UHC.com  </a>
            <p>|  </p><a href="http://www.myuhc.com" target="_blank" alt="http://www.myuhc.com" class="footlink">myUHC.com</a>
            <p>|</p><a href="http://www.uhone.com" target="_blank" alt="http://www.uhone.com" class="footlink">UHone.com</a>
            <p>|</p><a href="http://www.uhc.com/legal" target="_blank" alt="http://www.uhc.com/legal" class="footlink">Privacy/Legal</a><span class="visible-xs"> <br> </span>
            <p><span class="hidden-xs"> | </span></p>
            <div class="disclaimer">&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> UnitedHealthcare Services, Inc.</div>
            <div class="dropsprite dropsprite-down"></div>
          </div>
        </div>
      </div>
      <!-- script(type='text/javascript').-->
      <!--         var callSatellite = function(status) {-->
      <!--           var nativeBooleen = status;-->
      <!--           console.log("satellite function called status set to  " + nativeBooleen)-->
      <!--           _satellite.setVar('NA Status ', nativeBooleen)-->
      <!--           _satellite.notify('NA Status: ' + nativeBooleen)-->
      <!--           _satellite.track('NA Status=' + nativeBooleen)-->
      <!--           }-->
      <!--           $("#nonNativeAmericanCheck").on('click', callSatellite(false))-->
      <!--           $("#nativeAmericanCheck").on("click", callSatellite(true))    -->
      <div id="FatFooter">
        <div class="iconrow">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="iconGroup"><a href="#section2"><img src="./images/footer_plans@1x.png" class="icon"></a>
                  <div class="title">Our <br> plans</div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="iconGroup"><a href="#section4"><img src="./images/footer_network@1x.png" class="icon"></a>
                  <div class="title">Doctors <br> &amp; hospitals</div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="iconGroup"><a href="#section5"><img src="./images/footer_prescription@1x.png" class="icon"></a>
                  <div class="title">Prescription <br> coverage</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="plan-listing">
          <div id="FooterPlanSBCList" class="container-fluid">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="plantitle">Platinum plans </div><br>
                <div class="gray small bold">Standard Plan:</div><a href="./files/sbc/unitedHealthcare-platinum-compass-250.pdf" target="_blank" class="planlink bold">UnitedHealthcare Platinum Compass 250</a>
                <div class="gray small">     Variations on Standard Plan:</div><a href="./files/sbc/unitedHealthcare-platinum-compass-0.pdf" target="_blank" class="planlink xs-small"> &nbsp; &nbsp;   UnitedHealthcare Platinum Compass $0 (American Indian $0)* </a><a href="./files/sbc/unitedHealthcare-platinum-compass-250-1.pdf" target="_blank" class="planlink xs-small">  &nbsp; &nbsp;   UnitedHealthcare Platinum Compass 250-1 (American Indian Ltd)**</a><br>
                <div class="plantitle">Gold plans</div><br>
                <div class="gray small bold">Standard Plan:</div><a href="./files/sbc/unitedHealthcare-gold-compass-1250.pdf" target="_blank" class="planlink bold">UnitedHealthcare Gold Compass 1250</a>
                <div class="gray small">     Variations on Standard Plan: </div><a href="./files/sbc/unitedHealthcare-gold-compass-0.pdf" target="_blank" class="planlink xs-small"> &nbsp; &nbsp;    UnitedHealthcare Gold Compass $0 (American Indian $0)*</a><a href="./files/sbc/unitedHealthcare-gold-compass-1250-1.pdf" target="_blank" class="planlink xs-small">  &nbsp; &nbsp; &nbsp;   UnitedHealthcare Gold Compass 1250-1 (American Indian Ltd)**</a>
                <div class="gray small bold">Standard Plan:</div><a href="./files/sbc/unitedHealthcare-gold-compass-500.pdf" target="_blank" class="planlink bold">UnitedHealthcare Gold Compass 500</a>
                <div class="gray small">     Variations on Standard Plan: </div><a href="./files/sbc/unitedHealthcare-gold-compass-0.pdf" target="_blank" class="planlink xs-small">   &nbsp; &nbsp;   UnitedHealthcare Gold Compass $0 (American Indian $0)*</a><a href="./files/sbc/unitedHealthcare-gold-compass-500-1.pdf" target="_blank" class="planlink xs-small"> &nbsp; &nbsp;     UnitedHealthcare Gold Compass 500-1 (American Indian Ltd)**</a><br>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="plantitle">Silver plans</div><br>
                <div class="gray small bold">Standard Plan:</div><a href="./files/sbc/unitedHealthcare-silver-compass-HSA-2600.pdf" target="_blank" class="planlink bold">UnitedHealthcare Silver Compass HSA 2600</a>
                <div class="gray small">     Variations on Standard Plan: </div><a href="./files/sbc/unitedHealthcare-silver-compass-HSA-1900.pdf" target="_blank" class="planlink xs-small">   &nbsp; &nbsp;  UnitedHealthcare Silver Compass HSA 1900 (CSR 73)</a><a href="./files/sbc/unitedHealthcare-silver-compass-HSA-550.pdf" target="_blank" class="planlink xs-small">  &nbsp; &nbsp;   UnitedHealthcare Silver Compass HSA 550 (CSR 87)</a><a href="./files/sbc/unitedHealthcare-silver-compass-HSA-75.pdf" target="_blank" class="planlink xs-small">  &nbsp; &nbsp;   UnitedHealthcare Silver Compass HSA 75 (CSR 94)</a><a href="./files/sbc/unitedHealthcare-silver-compass-0.pdf" target="_blank" class="planlink xs-small">   &nbsp;  &nbsp;  UnitedHealthcare Silver Compass HSA $0 (American Indian $0)*</a><a href="./files/sbc/unitedHealthcare-silver-compass-HSA-2600-1.pdf" target="_blank" class="planlink xs-small"> &nbsp; &nbsp;    UnitedHealthcare Silver Compass HSA 2600-1 (American Indian Ltd)**</a>
                <div class="gray small bold">Standard Plan:</div><a href="./files/sbc/unitedHealthcare-silver-compass-HSA-1600.pdf" target="_blank" class="planlink bold">UnitedHealthcare Silver Compass HSA 1600</a>
                <div class="gray small">     Variations on Standard Plan: </div><a href="./files/sbc/unitedHealthcare-silver-compass-HSA-1100.pdf" target="_blank" class="planlink xs-small">  &nbsp; &nbsp;   UnitedHealthcare Silver Compass HSA 1100 (CSR 73)</a><a href="./files/sbc/unitedHealthcare-silver-compass-150.pdf" target="_blank" class="planlink xs-small">  &nbsp; &nbsp;    UnitedHealthcare Silver Compass HSA 150 (CSR 87)</a><a href="./files/sbc/unitedHealthcare-silver-compass-150-1.pdf" target="_blank" class="planlink xs-small">  &nbsp; &nbsp;    UnitedHealthcare Silver Compass HSA 150-1 (CSR 94)</a><a href="./files/sbc/unitedHealthcare-silver-compass-HSA-0.pdf" target="_blank" class="planlink xs-small">   &nbsp; &nbsp;   UnitedHealthcare Silver Compass HSA $0 (American Indian $0)*</a><a href="./files/sbc/unitedHealthcare-silver-compass-HSA-1600-1.pdf" target="_blank" class="planlink xs-small"> &nbsp; &nbsp;   UnitedHealthcare Silver Compass HSA 1600-1 (American Indian Ltd)**</a>
                <div class="gray small bold">Standard Plan:</div><a href="./files/sbc/unitedHealthcare-silver-compass-2000.pdf" target="_blank" class="planlink bold">UnitedHealthcare Silver Compass 2000</a>
                <div class="gray small">     Variations on Standard Plan: </div><a href="./files/sbc/unitedHealthcare-silver-compass-1200.pdf" target="_blank" class="planlink xs-small"> &nbsp; &nbsp;   UnitedHealthcare Silver Compass 1200 (CSR 73)</a><a href="./files/sbc/unitedHealthcare-silver-compass-250.pdf" target="_blank" class="planlink xs-small">  &nbsp; &nbsp;   UnitedHealthcare Silver Compass 250 (CSR 87)</a><a href="./files/sbc/unitedHealthcare-silver-compass-100.pdf" target="_blank" class="planlink xs-small"> &nbsp; &nbsp;    UnitedHealthcare Silver Compass 100 (CSR 94)</a><a href="./files/sbc/unitedHealthcare-silver-compass-0.pdf" target="_blank" class="planlink xs-small">   &nbsp;  &nbsp;  UnitedHealthcare Silver Compass $0 (American Indian $0)*</a><a href="./files/sbc/unitedHealthcare-silver-compass-2000-1.pdf" target="_blank" class="planlink xs-small">  &nbsp; &nbsp;  UnitedHealthcare Silver Compass 2000-1 (American Indian Ltd)**</a>
                <div class="gray small bold">Standard Plan:</div><a href="./files/sbc/unitedHealthcare-silver-compass-3500.pdf" target="_blank" class="planlink bold">UnitedHealthcare Silver Compass 3500</a>
                <div class="gray small">     Variations on Standard Plan: </div><a href="./files/sbc/unitedHealthcare-silver-compass-2500.pdf" target="_blank" class="planlink xs-small">   &nbsp; &nbsp;   UnitedHealthcare Silver Compass 2500 (CSR 73)</a><a href="./files/sbc/unitedHealthcare-silver-compass-250-1.pdf" target="_blank" class="planlink xs-small">  &nbsp; &nbsp;    UnitedHealthcare Silver Compass 250-1 (CSR 87)</a><a href="./files/sbc/unitedHealthcare-silver-compass-100-1.pdf" target="_blank" class="planlink xs-small"> &nbsp; &nbsp;    UnitedHealthcare Silver Compass 100-1 (CSR 94)</a><a href="./files/sbc/unitedHealthcare-silver-compass-0.pdf" target="_blank" class="planlink xs-small"> &nbsp; &nbsp;   UnitedHealthcare Silver Compass $0 (American Indian $0)*</a><a href="./files/sbc/unitedHealthcare-silver-compass-3500-1.pdf" target="_blank" class="planlink xs-small">   &nbsp; &nbsp;  UnitedHealthcare Silver Compass 3500-1 (American Indian Ltd)**      </a>
                <div class="gray small bold">Standard Plan:</div><a href="./files/sbc/unitedHealthcare-silver-compass-5000.pdf" target="_blank" class="planlink bold">UnitedHealthcare Silver Compass 5000</a>
                <div class="gray small">     Variations on Standard Plan: </div><a href="./files/sbc/unitedHealthcare-silver-compass-3500-2.pdf" target="_blank" class="planlink xs-small">   &nbsp; &nbsp;   UnitedHealthcare Silver Compass 3500-2 (CSR 73)</a><a href="./files/sbc/unitedHealthcare-silver-compass-250-2.pdf" target="_blank" class="planlink xs-small">  &nbsp; &nbsp;    UnitedHealthcare Silver Compass 250-2 (CSR 87)</a><a href="./files/sbc/unitedHealthcare-silver-compass-100-2.pdf" target="_blank" class="planlink xs-small"> &nbsp; &nbsp;    UnitedHealthcare Silver Compass 100-2 (CSR 94)</a><a href="./files/sbc/unitedHealthcare-silver-compass-0.pdf" target="_blank" class="planlink xs-small"> &nbsp; &nbsp;   UnitedHealthcare Silver Compass $0 (American Indian $0)*</a><a href="./files/sbc/unitedHealthcare-silver-compass-5000-1.pdf" target="_blank" class="planlink xs-small">   &nbsp; &nbsp;  UnitedHealthcare Silver Compass 5000-1 (American Indian Ltd)**         </a><br>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="plantitle">Bronze plans </div><br>
                <div class="gray small bold">Standard Plan:</div><a href="./files/sbc/unitedHealthcare-bronze-compass-HSA-4900.pdf" target="_blank" class="planlink bold">UnitedHealthcare Bronze Compass HSA 4900</a>
                <div class="gray small">     Variations on Standard Plan: </div><a href="./files/sbc/unitedHealthcare-bronze-compass-HSA-0.pdf" target="_blank" class="planlink xs-small">   &nbsp; &nbsp; UnitedHealthcare Bronze Compass HSA $0 (American Indian $0)*</a><a href="./files/sbc/unitedHealthcare-bronze-compass-HSA-4900-1.pdf" target="_blank" class="planlink xs-small">  &nbsp; &nbsp;  UnitedHealthcare Bronze Compass HSA 4900-1 (American Indian Ltd)*</a>
                <div class="gray small bold">Standard Plan:</div><a href="./files/sbc/unitedHealthcare-bronze-compass-5500.pdf" target="_blank" class="planlink bold">UnitedHealthcare Bronze Compass 5500</a>
                <div class="gray small">     Variations on Standard Plan: </div><a href="./files/sbc/unitedHealthcare-bronze-compass-0.pdf" target="_blank" class="planlink xs-small"> &nbsp; &nbsp;   UnitedHealthcare Bronze Compass $0 (American Indian $0)*</a><a href="./files/sbc/unitedHealthcare-bronze-compass-5500-1.pdf" target="_blank" class="planlink xs-small"> &nbsp; &nbsp;  UnitedHealthcare Bronze Compass 5500-1 (American Indian Ltd)**</a><br>
                <p class="bold Blu-text">* = American Indian - Zero Cost Share plan</p>
                <p class="bold Blu-text">** = American Indian - Limited Cost Share plan</p>
                <p class="bold Blu-text">(CSR) = Cost Share Reduction</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 left-border">
                <div class="plantitle">Questions about a plan, or need help enrolling?</div>
                <div class="dashedbox">
                  <p style="text-align: center; font-size:18px">Call us at <a href="tel:+18775129939" class="Blu-text">&nbsp; 877-512-9939 <br> TTY user dial 711</a>
                    </p><p style="text-align: center" class="xs-small">(8 a.m to 8 p.m EST, M-F)</p>
                  
                </div>
                <div class="disclaimer">Para servicio al cliente en espa&ntilde;ol, llame al <span id="gc-number-0" title="Call with Google Voice" class="gc-cs-link">877-512-9939</span></div>            <br>            
                <p class="Blu-text">If you are experiencing a medical emergency, call 911.</p>
                <div class="plantitle">Healthy living resources</div><br><a href="http://www.uhc.tv" target="_blank" class="planlink">UHC.TV</a><a href="http://www.uhc.com./storytellers" target="_blank" class="planlink">Storytellers</a><a href="http://www.uhc.com/source4women.htm" target="_blank" class="planlink">Source4Women&reg;</a><br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="WellnessVideo" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div type="button" data-dismiss="modal" class="close"><span aria-hidden="true">×</span></div>
              <h4 class="modal-title">Health and Wellness video tour</h4>
            </div>
            <div class="modal-body">
              <video preload="metadata" controls="controls">
                <source src="./videos/ToolToSucceed/ToolsToSucceed.mp4" type="video/mp4">
                </source><source src="./videos/ToolToSucceed/ToolsToSucceed.webm" type="video/webm">
                </source><source src="./videos/ToolToSucceed/ToolsToSucceed.ogv" type="video/ogg">
              </source></video>
            </div>
          </div>
        </div>
      </div>
      <div id="Health4MeVideo" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div type="button" data-dismiss="modal" class="close"><span aria-hidden="true">×</span></div>
              <h4 class="modal-title">Health4Me mobile app video</h4>
            </div>
            <div class="modal-body">
              <video preload="metadata" controls="controls">
                <source src="./videos/Health4Me/health4Me.mp4" type="video/mp4">
                </source><source src="http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/Health4Me/health4Me.mp4" type="video/mp4">
                </source><source src="http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/Health4Me/health4Me.webm" type="video/webm">
                </source><source src="http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/Health4Me/health4Me.ogv" type="video/ogg">
              </source></video>
            </div>
          </div>
        </div>
      </div>
      <div id="CostEstimatorVideo" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div type="button" data-dismiss="modal" class="close"><span aria-hidden="true">×</span></div>
              <h4 class="modal-title">myHealthcare Cost Estimator video</h4>
            </div>
            <div class="modal-body">
              <video preload="metadata" controls="controls">
                <source src="http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/prescription.mp4" type="video/mp4">
                </source><source src="http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/prescription.mp4.webm" type="video/webm">
                </source><source src="http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/prescription.mp4.ogv" type="video/ogg">
              </source></video>
            </div>
          </div>
        </div>
      </div>
      <div id="MyClaimsVideo" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div type="button" data-dismiss="modal" class="close"><span aria-hidden="true">×</span></div>
              <h4 class="modal-title">myClaims Manager video</h4>
            </div>
            <div class="modal-body">
              <video preload="metadata" controls="controls">
                <source src="http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/MyClaims/myclaims.mp4" type="video/mp4">
                </source><source src="http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/MyClaims/myclaims.webm" type="video/webm">
              </source></video>
              <source src="http://d1rq39syj6bzh8.cloudfront.net/preview/LA/videos/MyClaims/myclaims.ogv" type="video/ogg">
            </source></div>
          </div>
        </div>
      </div>
      <div id="FootDisclaimer">
        <div class="container">
          <p class="small lightGray">This website is operated by UnitedHealthcare and is not the Health Insurance Marketplace website. Insurance is offered by UnitedHealthcare of Louisiana, Inc. <br> This health care coverage is not designed or marketed as employer-provided insurance. It does not comply with your state’s small-employer group health insurance laws. These plans cannot be used, now or in the future, by you or an employer to provide insurance for employees.</p>
        </div>
      </div>
    </footer>
    <script src="scripts/global.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>

client/templates/select-a-plan.jade
// - plan-details page

include ./components/UHC-mixins.jade  
block content
	extend ./layouts/baseSub-2
	.container.pushDown

		br
		<a href="index.html" alt="" class="hidden-xs"><img src="./images/BackStoSummary.png" style="width: 115px"></a>
		h1.Blu-text Selecting A Plan
		h4.bold.Blu-text GET STARTED ON HEALTHCARE.GOV
		P.Blu-text Not sure which of our plans you’re interested in? The place to start is healthcare.gov.
		P.Blu-text That’s because you’ll provide some information about yourself there that determines whether you are eligible for any subsidies.
		P.Blu-text If you are eligible for  subsidies  such as a premium reduction or a “cost-sharing reduction” – you’ll have access to special plans and pricing.
		P.Blu-text That’s why we ask you to start the plan selection process on healthcare.gov. Once you do, you will know the plans you’d like to get details on and we’ll know the right plans and details to show you here on this site.
		br
		.row
			.col-lg-9.col-md-9.col-sm-12.col-xs-12
				.col-lg-5.col-md-5.col-sm-5.col-xs-12
					a.button.btn.orange-btn.btn-lg.btntxt(href="http://www.healthcare.gov" target="_blank" alt="search-uhc-network" id="networkBtn" style="padding: 15px 96px") GET STARTED
				.col-lg-2.col-md-2.col-sm-2.col-xs-2(style="position:relative; top:28px;")
					p - OR -
				.col-lg-5.col-md-5.col-sm-5.col-xs-5
					.bluedashedbox.text-center(style="position:relative; top:19px;") Call us at <b><a href="tel:+18442637797" style="font-weight:700;">844-263-7797 </a> TTY user dial 711</b> 
		hr 		

		h4.bold.Blu-text More About "Cost Sharing Reduction”
		p.Blu-text There are two kinds of savings offered on healthcare.gov.
		p.Blu-text One is a tax credit that reduces your monthly premium. The other is a “cost-sharing reduction.” That can reduce the amount you spend on your out-of-pocket costs like deductibles, co-payments and co-insurance.
		p.Blu-text To find out if you are eligible for savings, you’ll answer questions such as the number of people you want to cover in your plan and your household income etc.. If you are eligible, it will change the pricing you see on the site.

		h4.bold.Blu-text The right Summary of Benefits and Coverage
		p.Blu-text Knowing your cost-sharing reduction also helps us show you the right Summary of Benefits and Coverage. That’s the document that provides detail about a plan.
		p.Blu-text When you shop on healthcare.gov you see the names of “standard” plans. But some standard plans have several cost-sharing reduction versions.
		p.Blu-text If you are eligible for cost-sharing reduction, you’ll see the name of the standard plan, but you’ll see the prices from one of the cost-sharing reduction versions.
		p.Blu-text So knowing your cost-sharing reduction helps us show you the correct Summary of Benefits and Coverage document. The name of the plan on the document may be different from the name of the standard plan on healthcare.gov, but the costs and other details  will match in both places.


//- 		.row
//- 		.col-lg-12.col-md-12.col-sm-12.col-xs-12
//- 		.col-lg-5.col-md-5.col-sm-5.col-xs-5
//- 		.btn.btn-lg GET STARTED
//- 		.col-lg-2.col-md-2.col-sm-2.col-xs-2	
//- 		h4 - OR -
//- 		.col-lg-5.col-md-5.col-sm-5.col-xs-5
//- 		.btn.btn-lg Call us at 844-263-7797


		




//- include ./components/plan-details-bottom
include ./components/modals
